[Unit]
Description=elastalert
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/elastalert
ExecStart=/opt/elastalert/venv/bin/elastalert --verbose --config /etc/elastalert/config.yaml
User={{ elastalert_user }}

[Install]
WantedBy=multi-user.target
